<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="CrystalAnalysis" name="Crystal Analysis" schema="schema/CrystalAnalysis.exsd"/>
   <extension-point id="CrystalAnnotation" name="Crystal Annotation" schema="schema/CrystalAnnotation.exsd"/>
	<extension
         point="org.eclipse.ui.views">
      <category
            name="Crystal"
            id="edu.cmu.cs.crystal.CrystalViews">
      </category>
      <view
            allowMultiple="false"
            category="edu.cmu.cs.crystal.CrystalViews"
            class="edu.cmu.cs.crystal.internal.UserConsoleView"
            icon="icons/sample.gif"
            id="edu.cmu.cs.crystal.internal.UserConsoleView"
            name="User Console">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="edu.cmu.cs.crystal.internal.UserConsoleView">
         </view>
      </perspectiveExtension>
   </extension>
 <extension
       point="org.eclipse.ui.popupMenus">
    <objectContribution
          adaptable="false"
          id="CrystalPlugin.analyzeTypeRoots"
          objectClass="org.eclipse.jdt.core.IJavaElement">
       <menu
             id="Crystal.menu1"
             label="&amp;Crystal"
             path="additions">
          <separator
                name="group1">
          </separator>
       </menu>
       <action
             class="edu.cmu.cs.crystal.internal.CrystalFileAction"
             enablesFor="*"
             icon="icons/sample.gif"
             id="Crystal.newAction"
             label="&amp;Run Analyses"
             menubarPath="Crystal.menu1/group1"
             tooltip="Runs Crystal on this compilation unit">
       </action>
    </objectContribution>
 </extension>
 <extension
      id="crystalproblem"
      name="Crystal Marker"
      point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
      <attribute name="analysis"/>
 </extension>

 <extension
       point="org.eclipse.ui.commands">
    <category
          description="Holds Crystal Commands"
          id="CrystalPlugin.crystalcategory"
          name="Crystal Commands">
    </category>
    <command
          categoryId="CrystalPlugin.crystalcategory"
          defaultHandler="edu.cmu.cs.crystal.internal.RunCrystalHandler"
          description="Runs Crystal"
          id="CrystalPlugin.runcrystal"
          name="Run Crystal">
    </command>
    <command
          categoryId="CrystalPlugin.crystalcategory"
          defaultHandler="edu.cmu.cs.crystal.internal.EnableAnalysisHandler"
          description="Enables or disables an analysis"
          id="CrystalPlugin.enableanalysis"
          name="Enable Analysis">
       <commandParameter
             id="CrystalPlugin.analysisname"
             name="Analysis Name">
       </commandParameter>
    </command>
    <command
          categoryId="CrystalPlugin.crystalcategory"
          defaultHandler="edu.cmu.cs.crystal.internal.ClearWarningHandler"
          description="Clears Warnings"
          id="edu.cmu.cs.crystal.clearproblems"
          name="Clear Warnings">
    </command>
    <command
          categoryId="CrystalPlugin.crystalcategory"
          defaultHandler="edu.cmu.cs.crystal.internal.RunCrystalOnCurrentFileHandler"
          description="Run Crystal on current file"
          id="CrystalPlugin.runcrystaloncurrent"
          name="runCrystalOnCurrent">
    </command>
    <command
          categoryId="CrystalPlugin.crystalcategory"
          defaultHandler="edu.cmu.cs.crystal.internal.IncludeClassFilesHandler"
          description="Include or exclude .class files in Crystal runs"
          id="edu.cmu.cs.crystal.includeClassFiles"
          name="Include Class Files">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="menu:org.eclipse.ui.main.menu?after=additions">
       <menu
             id="Crystal.maincyrstalmenu"
             label="Crystal"
             mnemonic="C">
          <dynamic
                class="edu.cmu.cs.crystal.internal.AnalysisMenuPopulator"
                id="CrystalPlugin.populateanalyses">
          </dynamic>
          <command
                commandId="CrystalPlugin.runcrystal"
                icon="icons/sample.gif"
                label="Run Crystal"
                mnemonic="R"
                tooltip="Run the enabled Crystal analyses">
          </command>
          <command
                commandId="edu.cmu.cs.crystal.clearproblems"
                label="Clear Warnings"
                mnemonic="l"
                tooltip="Clear all warnings created by Crystal">
          </command>
          <command
                commandId="edu.cmu.cs.crystal.includeClassFiles"
                label="Include .class files"
                mnemonic="I"
                style="toggle"
                tooltip="Include or exclude .class files in Crystal runs">
          </command>
       </menu>
    </menuContribution>
    <menuContribution
          locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
       <toolbar
             id="CrystalPlugin.crystaltoolbar">
          <command
                commandId="CrystalPlugin.runcrystaloncurrent"
                icon="icons/sample.gif"
                tooltip="Run the enabled Crystal analyses on current editor">
          </command>
       </toolbar>
    </menuContribution>
 </extension>
 <extension
       point="edu.cmu.cs.crystal.CrystalAnalysis">
    <analysis
          class="edu.cmu.cs.crystal.analysis.live.LiveVariableAnalysis"
          name="Live Variable Analysis">
    </analysis>
 </extension>
 <extension
       point="edu.cmu.cs.crystal.CrystalAnalysis">
    <analysis
          class="edu.cmu.cs.crystal.analysis.constant.ConstantAnalysis"
          name="Boolean Constant Analysis">
    </analysis>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="edu.cmu.cs.crystal.internal.CrystalPreferences">
    </initializer>
 </extension>
 <extension
       point="edu.cmu.cs.crystal.CrystalAnalysis">
    <analysis
          class="edu.cmu.cs.crystal.analysis.print.PrintNodesAnalysis"
          name="AST Printer Analysis">
    </analysis>
 </extension>
 <extension
       point="org.eclipse.ui.bindings">
    <key
          commandId="CrystalPlugin.runcrystaloncurrent"
          contextId="org.eclipse.jdt.ui.javaEditorScope"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="F6">
    </key>
    <key
          commandId="CrystalPlugin.runcrystal"
          contextId="org.eclipse.ui.contexts.window"
          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
          sequence="Shift+F6">
    </key>
 </extension>
 
</plugin>




